header {
    background-color: rgb(33, 35, 206);
    text-align: center;
    font-size: 28px;
    color: rgb(250, 252, 252);
    font-family:'Courier New', Courier, monospace;
    margin-top: 0%;
    padding: 20px;
    border-radius: 10px;
    max-height: 10%;
}

header img {
    float: right;
}


#sidebar {
    width: 200px;
    float: right;
    background-color: #dfdfdf;
    padding: 10px;
    min-height: 590px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family:'Courier New', Courier, monospace;
}

main {
    margin-left: 220px;  /* Adjust the margin to create space for the sidebar */
    padding: 10px;
    background-color: black;
    max-height: 0%;
    font-family:'Courier New', Courier, monospace;
}

body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}
.main-container {
    width: 100%;
    background-color: black;
    min-height: 100%;
    margin-top: 10px; /* Add spacing between the main-container and header/footer or other elements */
    display: flex; /* Use flexbox layout */
    border-radius: 10px;
    color: #dfdfdf;
    font-family:'Courier New', Courier, monospace;
    
}

.newsfeed {
    background-color: rgb(33, 35, 206);
    width: 25%;
    height: 640px;
    border-radius: 10px;
    margin-right: 20px; /* Add spacing between the newsfeed and livefeed */
    font-family:'Courier New', Courier, monospace;
}

.livefeed {
    background-color: rgb(33, 35, 206);
    width: 75%;
    height: 618px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

iframe {
    width: 100%;
    height: 500px;
    border: 3px solid black;
    border-radius: 10px;
    border-color: #dfdfdf;
    font-family:'Courier New', Courier, monospace;
  }

  .main-container, h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
  }

  a {
    color: white
  }