@font-face {
    font-family: BOB;
    src: url(./font/VGAOEM.FON);
}

header {
    background-color: #0032a1;
    text-align: center;
    font-size: 37px;
    color: rgb(250, 252, 252);
    font-family:monospace;
    margin-top: 0%;
    padding: 20px;
    border-radius: 5px;
    font-family: BOB;
}

header img {
    float: right;
}

#sidebar {
    width: 25%;
    float: left;
    background-color: #dfdfdf;
    padding: 10px;
    min-height: 590px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

main {
    margin-left: 220px;  /* Adjust the margin to create space for the sidebar */
    padding: 10px;
    background-color: #fff;
}

body {
    background-color: #656f7e;
}

