header {
    background-color:rgb(33, 35, 206);
    text-align: center;
    font-size: 30px;
    color: rgb(255, 252, 252);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    margin-top: 0%;
    padding: 5px;
    border-radius: 10px;
    min-height: 100px;
}

header img {
    float: left;
    position:;
}
header {
    background-color: #0032a1;
    text-align: center;
    font-size: 28px;
    color: rgb(250, 252, 252);
    font-family:monospace;
    margin-top: 0%;
    padding: 20px;
    border-radius: 10px;
    max-height: 10%;
    font-family: 'Courier New', Courier, monospace;
}




#sidebar {
    width: 200px;
    float: left;
    background-color: #dfdfdf;
    padding: 10px;
    min-height: 625px;
    margin-top: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin-left: 220px; 
    padding: 10px;
    background-color: black;
    max-height: 0%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: rgb(17, 17, 18);
    font-family: 'Courier New', Courier, monospace;
}
.main-container {
    width: 100%;
    background-color: black;
    min-height: 100%;
    margin-top: 10px; 
    display: flex; 
    border-radius: 10px;
    color: #dfdfdf;
    font-family: 'Courier New', Courier, monospace;
    
}

.newsfeed {
    background-color: rgb(7, 45, 170);
    width: 25%;
    height: 640px;
    border-radius: 10px;
    margin-right: 20px; 
    font-family: 'Courier New', Courier, monospace;
}

.livefeed {
    background-color: rgb(33, 35, 206);
    width: 75%;
    height: 625px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

video{
    width: 100%;
    height: 470px;
    border: 3px solid black;
    border-radius: 10px;
    border-color: #dfdfdf;
  }

  .main-container, h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }

  a {
    color: white
  }
  img{
    width: 150px;
    height: 140px;

  }
